@import '../../../global-styles/global.module.scss';
.notificationItem {
  display: flex;
  padding: 0.625rem 1.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;

  .notificationHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .notificationTitle {
      flex: 1;
      color: $neutral20;
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem;
    }

    .cancelIconContainer {
      cursor: pointer;
    }
  }

  .notificationContent {
    padding: 0rem 2.5rem;
    align-self: stretch;
    color: $neutral20 ;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.alert {
  border: 0.0625rem solid $alert50;
    background: $alert80;}

.success {
  border: 0.0625rem solid $success50;
  background: $success90;
}

.warning {
  border: 0.0625rem solid $warning50;
  background: $warning90;
}

.info {
  border: 0.0625rem solid $primary50;
  background: $primary90;
}
