@import './variables.scss';

@mixin theme($text-color, $background-color) {
  color: $text-color;
  background: $background-color;
}

@mixin gradient-theme($text-color, $gradient-color) {
  color: $text-color;
  background: linear-gradient(0deg, $gradient-color 0%, $gradient-color 100%);
}

// Light color theme
@mixin lightThemeLowest {
  @include theme( $neutral0,  $neutral99);
}

@mixin lightThemeLow {
  @include gradient-theme( $neutral0, rgba( $primary50, 0.05));
}

@mixin lightThemeRegular {
  @include gradient-theme( $neutral0, rgba( $primary50, 0.08));
}

@mixin lightThemeHigh {
  @include gradient-theme( $neutral0, rgba( $primary50, 0.11));
}

@mixin lightThemeHighest {
  @include gradient-theme( $neutral0, rgba( $primary50, 0.14));
}

// Dark color theme
@mixin darkThemeLowest {
  @include theme($neutral100, $neutral10);
}

@mixin darkThemeLow {
  @include gradient-theme($neutral100, rgba( $primary50, 0.05));
}

@mixin darkThemeRegular {
  @include gradient-theme($neutral100, rgba( $primary50, 0.08));
}

@mixin darkThemeHigh {
  @include gradient-theme($neutral100, rgba( $primary50, 0.11));
}

@mixin darkThemeHighest {
  @include gradient-theme($neutral100, rgba( $primary50, 0.14));
}
