@import '../../../global-styles/global.module.scss';

.secondaryBtnLightTheme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $neutral20;
  background-color: transparent;

  
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  border: .06rem solid $neutral90;
  cursor: pointer;
}

.secondaryBtnLightTheme:not(:disabled):hover {
  border: .06rem solid $primary50;
}

.secondaryBtnLightTheme:not(:disabled):active {
  border: .06rem solid $primary50;
  background: $neutral99;
  box-shadow: 0px 0px 0px 4px $primary90;
}

.secondaryBtnLightTheme[disabled] {
  color: $neutral100;
  border: 0.0625rem solid $neutral90;
  background: $neutral90;
}

//dark mode classes
.secondaryBtnDarkTheme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: $neutral99;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  border: .06rem solid $neutral90;
  cursor: pointer;
}

.secondaryBtnDarkTheme:not(:disabled):hover {
  border: 0.0625rem solid $primary50;
}

.secondaryBtnDarkTheme:not(:disabled):active {
  color: $neutral20;
  border: 0.0625rem solid $primary50;
  background: $neutral99;
  box-shadow: 0rem 0rem 0rem 0.25rem $primary80;
}

.secondaryBtnDarkTheme[disabled] {
  color: $neutral100;
  border: 0.0625rem solid $neutral20;
  background: $neutral20;
}
