@import '../../../global-styles/global.module.scss';

.togglePairButtonsContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  height: 4.3125rem;
  flex-shrink: 0;

  .labelLightTheme {
    color: $neutral50;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
  }

  .labelDarkTheme {
    color: $neutral95;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
  }

  .buttonGroup {
    display: inline-flex;
    align-items: flex-start;
    border-radius: 0.25rem;
    border: 0.0625rem solid $neutral90;

    .selectedBtn {
      display: flex;
      width: 10rem;
      padding: 0.75rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border: none;
      border-right: 0.0625rem solid $neutral95 ;
      background: $neutral95 ;
      color: $neutral20 ;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5rem;
      cursor: pointer;
    }

    .btn {
      display: flex;
      width: 10rem;
      padding: 0.75rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border: none;
      border-right: 0.0625rem solid $neutral95;
      background: $neutral100;
      color: $neutral20;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      cursor: pointer;
    }
  }
}
