.link {
  text-decoration: none;
}

.navItemLightTheme {
  display: flex;
  padding: 12px 0px 12px 32px;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  align-self: stretch;
  background-color: transparent;

  &:hover {
    background: var(--primary95);
  }

  .navIcon {
    width: 32px;
    height: 32px;
    fill: #75777a;
  }

  .navIconActive {
    width: 32px;
    height: 32px;
    fill: #0d62ff;
  }

  .navItemText {
    color: var(--neutral50);
    flex: 1;
  }

  .navItemTextActive {
    color: var(--neutral20);
    flex: 1;
  }

  .navItemActiveBar {
    width: 4px;
    height: 34px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: var(--primary50);
  }
}

.navItemlightTheme:hover {
  background: var(--primary95);
}

// dark theme mode
.navItemDarkTheme {
  display: flex;
  padding: 12px 0px 12px 32px;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  align-self: stretch;
  background-color: transparent;

  &:hover {
    background: var(--primary80);

    .navIconActive {
      width: 32px;
      height: 32px;
      fill: #fff;
    }

    // .navItemActiveBar {
    //   width: 4px;
    //   height: 34px;
    //   border-top-left-radius: 12px;
    //   border-bottom-left-radius: 12px;
    //   background: var(--neutral100);
    // }
  }

  .navIcon {
    width: 32px;
    height: 32px;
    fill: #fff;
  }

  .navIconActive {
    width: 32px;
    height: 32px;
    fill: #b4ceff;
  }

  .navItemText {
    color: var(--neutral100);
    flex: 1;
  }

  .navItemTextActive {
    color: var(--neutral100);
    flex: 1;
  }

  .navItemActiveBar {
    width: 4px;
    height: 34px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: var(--primary80);
  }
}
