@import '../../global-styles/global.module.scss';

.link {
  text-decoration: none;
}

.navItemLightTheme {
  display: flex;
  padding: 12px 0px;
  padding-left: 1.2vw;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  align-self: stretch;
  background-color: transparent;

  &:hover {
    background: $primary95;
  }

  .navIcon {
    width: 32px;
    height: 32px;
    fill: #75777a;
  }

  .navIconActive {
    width: 32px;
    height: 32px;
    fill: #0d62ff;
  }

  .navItemText {
    color: $neutral50;
    flex: 1;
  }

  .navItemTextActive {
    color: $neutral20;
    flex: 1;
  }

  .navItemActiveBar {
    width: 4px;
    height: 34px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: $primary50;
  }
}

.navItemlightTheme:hover {
  background: $primary95;
}

// dark theme mode
.navItemDarkTheme {
  display: flex;
  padding: 12px 0px;
  padding-left: 1.2vw;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  align-self: stretch;
  background-color: transparent;

  &:hover {
    background: $primary80;

    .navIconActive {
      width: 32px;
      height: 32px;
      fill: #fff;
    }

    // .navItemActiveBar {
    //   width: 4px;
    //   height: 34px;
    //   border-top-left-radius: 12px;
    //   border-bottom-left-radius: 12px;
    //   background: $neutral10);
    // }
  }

  .navIcon {
    width: 32px;
    height: 32px;
    fill: #fff;
  }

  .navIconActive {
    width: 32px;
    height: 32px;
    fill: #b4ceff;
  }

  .navItemText {
    color: $neutral100;
    flex: 1;
  }

  .navItemTextActive {
    color: $neutral100;
    flex: 1;
  }

  .navItemActiveBar {
    width: 4px;
    height: 34px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: $primary80;
  }
}

@media screen and (max-width: 1400px) {
  .navItemTextActive,
  .navItemText {
    display: none;
  }
}
