@import '../../../global-styles/global.module.scss';

.btnGroupLightTheme {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral90;

  .btnLightTheme {
    display: flex;
    padding: 1.3rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral90;
    border-right: .06rem solid $neutral90;
    background: $neutral100;
    color: $neutral20;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
  }

  .selectedBtnLightTheme {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral90;
    border-right: .06rem solid $neutral90;
    background: $neutral95;
    color: $neutral20;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    cursor: pointer;
  }
}

.btnGroupDarkTheme {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 0.0625rem solid $neutral100;

  .btnDarkTheme {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral99;
    border-right: .06rem solid $neutral99;
    background: $neutral100;
    color: $neutral20;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
  }

  .selectedBtnDarkTheme {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 0.0625rem solid $neutral99;
    border-right: .06rem solid $neutral99;
    background: $neutral95;
    color: $neutral20;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    cursor: pointer;
  }
}
